.wrapper{
  text-align: center;
  width: 100%;
}

.container{
  width:29%;
  text-align: center;
  margin: 0 auto;
  border: 1px black;
}

.todo-item{
  float: right;
  width: 60px;
  margin-left: 10px;
}

.item-name{
  float: left;
}
